<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:tools="http://schemas.android.com/tools"
    package="com.pao11.imagepicker"
    xmlns:android="http://schemas.android.com/apk/res/android">

    <!-- 在SDCard中创建与删除文件权限 -->
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS"
        tools:ignore="ProtectedPermissions" />
    <!-- 往SDCard写入数据权限 -->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <!-- 从SDCard读取数据权限 -->
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <!-- 相机权限 -->
    <uses-permission android:name="android.permission.CAMERA"/>

    <application
        android:requestLegacyExternalStorage="true">
        <activity android:name="com.pao11.imagepicker.ui.ImageBaseActivity"/>
        <activity
            android:name="com.pao11.imagepicker.ui.ImageGridActivity"
            android:configChanges="orientation|screenSize"
            android:theme="@style/ImagePickerTheme"/>
        <activity
            android:name="com.pao11.imagepicker.ui.VideoGridActivity"
            android:configChanges="orientation|screenSize"
            android:theme="@style/ImagePickerTheme"/>
        <activity
            android:name="com.pao11.imagepicker.ui.ImageCropActivity"
            android:configChanges="orientation|screenSize"
            android:hardwareAccelerated="false"
            android:theme="@style/ImagePickerTheme"/>
        <activity
            android:name="com.pao11.imagepicker.ui.ImagePreviewActivity"
            android:configChanges="orientation|screenSize"
            android:theme="@style/ImagePickerThemeFullScreen"/>

        <activity
            android:name="com.pao11.imagepicker.ui.ImagePreviewDelActivity"
            android:configChanges="orientation|screenSize"
            android:theme="@style/ImagePickerThemeFullScreen"/>

        <provider
            android:name="com.pao11.imagepicker.ImagePickerProvider"
            android:authorities="${applicationId}.imagePickerProvider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/provider_paths"/>
        </provider>

    </application>

</manifest>
